/*
    float : 좌우 정렬, left/right
    clear : 정렬 해제, left/right/both
*/

#img1 {
    float: left;
    width: 100px;
}
#img2 {
    float: right;
    width: 200px;
}
ul {
    clear: both;
}
ul > li {
    float: left;
    list-style: none;
    width: 120px;
    border: 1px solid orange;
    background-color: orange;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    text-align: center;
    padding: 5px 10px;
}
ul > li.right {
    float: right;
}
p {
    clear: both;
}